/* ---- MIXINS ---- */

@mixin breakpoint {
  @media (min-width: 50em) {
    @content;
  }
}

/* ---- FONTS ---- */

@font-face {
  font-family: "Hanken Grotesk";
  src: url("./../assets/fonts/HankenGrotesk-VariableFont_wght.ttf")
    format("woff2");
  font-weight: 100 900;
  font-display: swap;
}

/* ---- CUSTOM PROPERTIES ---- */

:root {
  --light-red: 0 100% 67%;
  --orangey-yellow: 39 100% 56%;
  --green-teal: 166 100% 37%;
  --cobalt-blue: 234 85% 45%;

  --hsl-clr-primary: 256 72% 46%;
  --hsl-clr-secondary: 241 72% 46% / 0;

  --hsl-clr-accent-400: 252 100% 67%;
  --hsl-clr-accent-600: 241 81% 54%;

  --hsl-clr-neutral-100: 0 0% 100%;
  --hsl-clr-neutral-200: 221 100% 96%;
  --hsl-clr-neutral-400: 241 100% 89%;
  --hsl-clr-neutral-800: 224 30% 27%;

  --hsl-clr-attribution: 228 45% 74%;

  --clr-primary: hsl(var(--hsl-clr-primary));
  --clr-secondary: hsl(var(--hsl-clr-secondary));
  --clr-accent-400: hsl(var(--hsl-clr-accent-400));
  --clr-accent-600: hsl(var(--hsl-clr-accent-600));
  --clr-neutral-100: hsl(var(--hsl-clr-neutral-100));
  --clr-neutral-200: hsl(var(--hsl-clr-neutral-200));
  --clr-neutral-400: hsl(var(--hsl-clr-neutral-400));
  --clr-neutral-800: hsl(var(--hsl-clr-neutral-800));
  --clr-attribution: hsl(var(--hsl-clr-attribution));

  --font-family-default: "Hanken Grotesk", sans-serif;

  --fw-thin: 100;
  --fw-extra-light: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;
  --fw-black: 900;

  --fs-100: 0.3rem;
  --fs-200: 0.5rem;
  --fs-300: 0.75rem;
  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-600: 1.25rem;
  --fs-700: 1.5rem;
  --fs-800: 1.75rem;
  --fs-900: 2rem;
  --fs-special: 4rem;

  --fs-attribution: 0.6875rem;
}

/* ---- GENERAL STYLING ----*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.grid-flow {
  display: grid;
}

.flex-flow {
  display: flex;
}

.attribution {
  margin-block-start: 5em;

  font-size: var(--fs-attribution);
  text-align: center;
}
.attribution a {
  color: var(--clr-attribution);
}

body {
  font-family: var(--font-family-default);
  color: var(--clr-neutral-800);
  background: linear-gradient(
    90deg,
    var(--clr-neutral-200) 0,
    var(--clr-neutral-100 60%)
  );
}
