@use "./abstracts/" as *;

/* ---- FOR DISPLAY ONLY ---- */
body {
  @include breakpoint {
    display: grid;
    place-content: center;
    height: 100vh;
  }
}
/* ---- FOR DISPLAY ONLY ---- */

.result {
  --border-radius: 2em;
  --padding-inline: 2em;
  --padding-block-start: 1.5em;
  --padding-block-end: 2.5em;
  --gap: 1em;

  @include breakpoint {
    --border-radius: 2em;
    --padding-inline: 3.5em;
    --padding-block-start: 2em;
    --padding-block-end: 3.5em;
    --gap: 1em;

    grid-template-columns: 1fr 1fr;

    width: 46em;

    background-color: var(--clr-neutral-100);
    border-radius: var(--border-radius);
    box-shadow: 6px 6px 12px hsl(234 85% 45% / 0.1);
  }

  h2 {
    color: var(--clr-neutral-800);
    font-weight: var(--fw-bold);
    font-size: var(--fs-500);

    @include breakpoint {
      font-size: var(--fs-700);
    }
  }

  &--score {
    flex-direction: column;
    gap: calc(var(--gap) / 2);

    padding-inline: var(--padding-inline);
    padding-block-start: var(--padding-block-start);
    padding-block-end: var(--padding-block-end);

    text-align: center;

    background: linear-gradient(
      hsl(var(--hsl-clr-accent-400)) 0%,
      hsl(var(--hsl-clr-accent-600)) 90%
    );

    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);

    @include breakpoint {
      gap: var(--gap);
      border-top-left-radius: var(--border-radius);
      border-top-right-radius: var(--border-radius);
    }

    h2 {
      color: var(--clr-neutral-400);
      text-align: center;
      margin-block-end: 0.8em;

      @include breakpoint {
        margin-block-end: 1em;
      }
    }

    .score {
      flex-direction: column;

      margin-inline: auto;
      padding: 0.8em;
      padding-block-start: 2.3em;
      width: fit-content;
      aspect-ratio: 1;

      color: var(--clr-neutral-400);
      font-weight: var(--fw-bold);
      line-height: 3em;
      background: linear-gradient(
        180deg,
        hsl(256 72% 46%),
        hsl(241 72% 46% / 0.4) 60%,
        hsl(241 72% 46% / 0) 100%
      );
      border-radius: 50%;

      @include breakpoint {
        padding: 3em;
        padding-block-start: 4em;
      }

      span {
        margin: 0;
        font-size: var(--fs-special);
        font-weight: var(--fw-extra-bold);
        color: var(--clr-neutral-100);
      }

      p {
        opacity: 0.5;
      }
    }

    span {
      margin-block-start: 0.5em;
      color: var(--clr-neutral-100);
      font-weight: var(--fw-bold);
      font-size: var(--fs-700);

      @include breakpoint {
        margin-block-start: 1em;
        font-size: var(--fs-900);
      }
    }

    p {
      padding-inline: 1em;
      color: var(--clr-neutral-400);
      font-size: var(--fs-400);
      opacity: 0.9;

      @include breakpoint {
        padding-inline: unset;
        font-size: var(--fs-500);
      }
    }
  }

  &--summary {
    flex-direction: column;
    gap: var(--gap);

    padding-inline: var(--padding-inline);
    padding-block-start: var(--padding-block-start);
    padding-block-end: var(--padding-block-end);

    h2 {
      margin-block-end: 0.5em;
    }

    .summary-block {
      padding: 1.2em 1em;
      color: hsl(var(--color));
      background-color: hsl(var(--background) / 0.05);
      border-radius: calc(var(--border-radius) / 4);

      p {
        font-weight: var(--fw-bold);
        margin-inline-start: 2em;

        &:last-of-type {
          margin-inline-start: auto;
          color: hsl(var(--hsl-clr-neutral-800) / 0.5);
        }
      }

      span {
        color: hsl(var(--hsl-clr-neutral-800) / 1);
        font-weight: var(--fw-extra-bold);
        margin-inline-end: 5px;
      }
    }

    .reaction {
      position: relative;

      --color: var(--light-red);
      --background: var(--light-red);

      &::before {
        content: url(./../assets/images/icon-reaction.svg);
        position: absolute;
      }
    }

    .memory {
      position: relative;

      --color: var(--orangey-yellow);
      --background: var(--orangey-yellow);

      &::before {
        content: url(./../assets/images/icon-memory.svg);
        position: absolute;
      }
    }

    .verbal {
      position: relative;

      --color: var(--green-teal);
      --background: var(--green-teal);

      &::before {
        content: url(./../assets/images/icon-verbal.svg);
        position: absolute;
      }
    }

    .visual {
      position: relative;

      --color: var(--cobalt-blue);
      --background: var(--cobalt-blue);

      &::before {
        content: url(./../assets/images/icon-visual.svg);
        position: absolute;
      }
    }

    .button {
      margin-block-start: 0.8em;
      padding: 1em 2em;
      border-radius: 100vh;
      border: 0;

      @include breakpoint {
        margin-block-start: 1.5em;
      }
    }

    .continue {
      color: var(--clr-neutral-200);
      background-color: var(--clr-neutral-800);
      font-size: var(--fs-400);
      font-weight: var(--fw-bold);

      &:hover,
      &:focus-visible {
        background: linear-gradient(
          hsl(var(--hsl-clr-accent-400)) 0%,
          hsl(var(--hsl-clr-accent-600)) 90%
        );
      }
    }
  }
}
